<!DOCTYPE html>

<html>
	<head>
		<title>Manchester United Fan Site</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>

	{{var}}

	<body>
		<div class="jumbotron">
			<h1>Yoav's Manchester United Page!</h1>
			<p>Vote on your favorite players!</p>
		</div>

		<table class="table">
				<tr>
					<td>Picture</td>
					<td>Name</td>
					<td>Score</td>
					<td></td>
					<td></td>
				</tr>
			{% for player in data | sort(attribute='score', reverse=True) %}
				<tr>
					<td><img src="/static/{{player['name']}}.jpg" style="width:100px;height:100px" class="img-circle"></td>
					<td>{{player['name']}}</td>
					<td>{{player['score']}}</td>

					<td>
						<form action="/like" method=post>
							<input type="hidden" name="name" value="{{player['name']}}" />
							<input name="{{player['name']}}" type="submit" class="btn btn-success" value="Vote Up!" />
						</form>
					</td>

					<td>
						<form action="/unlike" method=post>
							<input type="hidden" name="name" value="{{player['name']}}" />
							<input name="{{player['name']}}" type="submit" class="btn btn-danger" value="Vote Down!"/>
						</form>
					</td>
				</tr>
			{% endfor %}
		</table>

	</body>
</html>
